@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Poppins:wght@200&display=swap');

body{
    margin: 0 0;
    padding: 0 0;
    background-color: #fff;
    color: #333;
    font-family: 'Poppins', sans-serif;
}

header{
    color: #999;
    text-transform: capitalize ;
    font-family: 'Cinzel', serif;
    padding: 2rem 5rem;
    font-size: 1rem;
}


h1{
    color:#fff;
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    text-align: center;
    margin: 0 0;
}

section:first-of-type>section{
    background-image: none;
    box-sizing: 1px 1px;
    text-align: center;
}

section:first-of-type{
    background: url(../img/bg_header.jpeg);background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    padding: 8rem ;
}


section:nth-of-type(2) h2{
    font-family: 'Cinzel';
    text-align: center;
    font-size: 1rem;
    margin: 4em 0 3em 0;

}

section:nth-of-type(2){
    text-align: center;
    font-size: 0.7em;
    margin: 1% 5% 5% 6%;
}

section:nth-of-type(3){
    text-align: center;
    padding: 0 0 0 0;
    margin: 0 0; 
}

section:nth-of-type(3) img{
    padding: 3% 2% 3% 3% ;
    width: 25%;
    height: 25%;
}

section:nth-of-type(4){
    font-size: 0.7em;
    margin: 0 0 2% 5.5%;
    line-height: 2em;
}

section:nth-of-type(4) h2{
    font-family: 'Cinzel';
    text-align: center;
    font-size: 1rem;
}


ul{
    list-style-type: none;
}

li::after{
    content: "     - sold out";
    text-transform: uppercase;
    font-weight: 1000;
    color: red;
}

li:nth-of-type(4)::after{
    content: "     - only 4 spot available";
    text-transform: uppercase;
    font-weight: 1000;
    color: red;
}

li:nth-of-type(5)::after{
    content: "     - available";
    text-transform: uppercase;
    font-weight: 1000;
    color: green;
}

li:nth-of-type(6)::after{
    content: "     - available";
    text-transform: uppercase;
    font-weight: 1000;
    color: green;
}


footer{
    font-family: 'Cinzel';
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1rem;
    padding: 1%;
    border-top: 0.1rem solid #ccc;
}